# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summaried.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. NumPy
3. SciPy

|Data Science Tools|
|------------------|
|R Studio|
|Jupyter Notebook|
|Apach Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
hours = 200 / 60
print(hours)

3.3333333333333335

**Objectives:**

- Python
- R
- Javascript

## Author
Sungsoo Kim